div#waline {
    margin-top: 20px;
}

.wl-editor {
    min-height: 3em !important;
}

.wl-count {
    font-size: 1em !important;
}

.wl-empty {
    font-size: 0.8em !important;
}

.wl-card .wl-delete, .wl-card .wl-like, .wl-card .wl-reply, .wl-card .wl-edit{
    padding-right: 20px;
}

:root {
    --waline-avatar-size: 2em !important;
    --waline-font-size: 0.75rem !important;

}